Mohan/Others/Work/jsfpopup/WebContent/wsdl/MemberAppeals.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MemberAppeals_Service"
	targetNamespace="http://enterprise.ipc"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:portlet="http://www.ibm.com/wps/c2a"
	xmlns:tns="http://enterprise.ipc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema targetNamespace="http://enterprise.ipc">
			<xsd:simpleType name="InternalServiceAuthIDType">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="CMCaseSearchDataType">
			</xsd:complexType>

		    <!-- Changed from simpleType to complexType to recieve TCNList -->
			<xsd:complexType name="DentalTcnInfo" />

	   		<!-- Changed from simpleType to complexType to recieve TCNList -->
			<xsd:complexType name="InstitutionalTcnInfo" />
		
			<!-- Changed from simpleType to complexType to recieve TCNList -->
			<xsd:complexType name="ProfessionalTcnInfo" />

			
			<!-- Changed from simpleType to complexType to recieve TCNList -->
			<xsd:complexType name="VoidReplaceTcnInfo" />
			
			<xsd:complexType name="MemberAppealsSearchType">
			</xsd:complexType>
			<xsd:simpleType name="CMMemberSummaryType">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CaseTrackingAppealDatatype">
				<xsd:restriction base="xsd:string"></xsd:restriction>
		   </xsd:simpleType>
		    <xsd:simpleType name="CrspdGenAppealDatatype">
				<xsd:restriction base="xsd:string"></xsd:restriction>
		   </xsd:simpleType>
		   <!-- Added for defect ESPRD00412572 -->
		   <xsd:simpleType name="ServiceAuthAppeal">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<!-- ESPRD00529011 starts -->
			<!-- Commented for the Defect ESPRD00731985 -->
		   <!--<xsd:simpleType name="ClaimInternalInquiryType">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			-->
			<!-- Added for the Defect ESPRD00731985 -->
			<xsd:complexType name="ObjClaimInternalInquiryType"/>
		   <!-- ESPRD00529011 ends -->
		   <!-- ESPRD00531190 starts -->
		   <xsd:simpleType name="ServiceAuthInquiry">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<!-- ESPRD00531190 ends -->
			
			<xsd:complexType name="MSQResetType">
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<message name="CMCaseSearchDataType_Response">
		<part name="CMCaseSearchDataType_Output"
			type="tns:CMCaseSearchDataType" />
	</message>

	<message name="MemberAppealsSearchType_Request">
		<part name="MemberAppealsSearchType_Input"
			type="tns:MemberAppealsSearchType" />
	</message>
	
	<message name="CMMemberSummaryType_Response">
		<part name="CMMemberSummaryType_Output"
			type="tns:CMMemberSummaryType" />
			<part name="CaseTrackingAppealDatatype_Output" 
		type="tns:CaseTrackingAppealDatatype" />
		<part name="CrspdGenAppealDatatype_Output" type="tns:CrspdGenAppealDatatype" />	
	</message>
	
	<message name="InternalServiceAuthIDType_Response">
		<part name="InternalServiceAuthIDType_Output"
			type="tns:InternalServiceAuthIDType" />
		<part name="DentalTcnInfo_Output" type="tns:DentalTcnInfo"/>
		<part name="InstitutionalTcnInfo_Output" type="tns:InstitutionalTcnInfo"/>
		<part name="ProfessionalTcnInfo_Output" type="tns:ProfessionalTcnInfo"/>
		<part name="VoidReplaceTcnInfo_Output" type="tns:VoidReplaceTcnInfo"/>
	</message>
	
	
	<!-- Added for Defect ESPRD00412572 -->
	<message name="ServiceAuthAppeal_Request">
		<part name="ServiceAuthAppeal_Input"
			type="tns:ServiceAuthAppeal" />
	</message>
	<!-- ESPRD00529011 starts -->
	<message name="ClaimInternalInquiryType_Response">
	<!-- Commented for the Defect ESPRD00731985 -->
		<!--<part name="ClaimInternalInquiryType_Output" type="tns:ClaimInternalInquiryType" />
		-->
		<!-- Added for the Defect ESPRD00731985 -->
		<part name="ObjClaimInternalInquiryType_Output" type="tns:ObjClaimInternalInquiryType" />
	</message>
   <!-- ESPRD00529011 ends -->
   <!-- ESPRD00531190 starts -->
   <message name="InstiClaimCorrInfo_Response">
		<part name="ServiceAuthInquiry_Output"
			type="tns:ServiceAuthInquiry"/>
	</message>
	 <!-- ESPRD00531190 ends -->
	<message name="MSQResetType_Request">
		<part name="MSQResetType_Input"
			type="tns:MSQResetType" />
	</message>
	
	<portType name="MemberAppeals_Service">
		<operation name="SearchCase">
			<output message="tns:CMCaseSearchDataType_Response" />
		</operation>
	<operation name="MemberAppeals">
			<input message="tns:MemberAppealsSearchType_Request" />
		</operation>
		<operation name="MemberAppeals0">
			<output message="tns:CMMemberSummaryType_Response" />
		</operation>
		
		<operation name="AddAppeals1">
			<output message="tns:InternalServiceAuthIDType_Response" />
		</operation>
		
		<!-- Added for Defect ESPRD00412572 -->
		<operation name="recServiceAuthAppid">
			<input message="tns:ServiceAuthAppeal_Request" />
		</operation>
		<!-- End of  Defect ESPRD00412572  -->
		<!-- ESPRD00529011 starts -->		
		<operation name="ClaimsInquiry">
			<output message="tns:ClaimInternalInquiryType_Response" />
		</operation>
	   <!-- ESPRD00529011 ends -->
	    <!-- ESPRD00531190 starts -->
	   <operation name="SendInstiCorrInfo">
			<output message="tns:InstiClaimCorrInfo_Response" />
		</operation>
		 <!-- ESPRD00531190 ends -->
		 
		<operation name="MSQReset">
			<input message="tns:MSQResetType_Request" />
		</operation>
		
	</portType>
	
	<binding name="MemberAppeals_Binding"
		type="tns:MemberAppeals_Service">
		<portlet:binding />
		
		<operation name="SearchCase">
			<portlet:action name="sendCaseDetailsAction"
				actionNameParameter="com.ibm.portal.propertybroker.action"
				type="standard" />
			<output>
				<portlet:param name="CaseDetails"
					partname="CMCaseSearchDataType_Output" 
					class="com.acs.enterprise.common.view.vo.CommonCMCaseDetailsVO"
					boundTo="request-attribute"
					caption="CaseDetails.Caption" />
			</output>
		</operation>
		
	    <operation name="MemberAppeals">
			<portlet:action name="receiveMemberAppealsSearchAction"
				type="standard" />
			<input>
				<portlet:param name="MemberAppealsSearch"
					class="com.acs.enterprise.common.view.vo.CommonMemberDetailsVO"
					partname="MemberAppealsSearchType_Input"
					boundTo="request-attribute" caption="MemberAppealsSearch.caption" />
			</input>
		</operation>
		<operation name="MemberAppeals0">
			<portlet:action name="sendMemberSysIDAction"
				actionNameParameter="send.member.summary.action" type="standard" />
			<output>
				<portlet:param name="CMMemberSummary"
					partname="CMMemberSummaryType_Output" 
					boundTo="request-attribute" caption="CMMemberSummary.Caption" />
				<portlet:param name="CaseTrackingAppealSK"
					partname="CaseTrackingAppealDatatype_Output" boundTo="request-attribute"
					caption="CaseTrackingAppeal.CaseSK" />	
				<portlet:param name="CrspdGenAppealSK"
					partname="CrspdGenAppealDatatype_Output" boundTo="request-attribute"
					caption="CrspdGenAppeal.CrspdSK" description="CrspdGen.appeal.details" />	
			</output>
		</operation>
		
		<operation name="AddAppeals1">
			<portlet:action name="sendInternalServiceAuthIDAction"
				actionNameParameter="com.ibm.portal.propertybroker.action" type="standard" />
			<output>
				<portlet:param name="InternalServiceAuthID"
					partname="InternalServiceAuthIDType_Output" boundTo="request-attribute"
					caption="InternalServiceAuthID.Caption" />
				<portlet:param name="dentalTcnInfo" partname="DentalTcnInfo_Output" 
					boundTo="request-attribute" caption="dental.tcn.info" description="Dental.Tcn.param"
					class="java.util.List" />
				<portlet:param name="instiTcnInfo" partname="InstitutionalTcnInfo_Output" 
					boundTo="request-attribute" caption="institutional.tcn.info" description="Institutional.Tcn.param"
					class="java.util.List" />	 
				<portlet:param name="profTcnInfo" partname="ProfessionalTcnInfo_Output" 
					boundTo="request-attribute" caption="professional.tcn.info" description="professional.Tcn.param"
					class="java.util.List" />	                       
				<portlet:param name="voidReplaceTcnInfo" partname="VoidReplaceTcnInfo_Output" 
					boundTo="request-attribute" caption="voidReplace.tcn.info" description="voidReplace.Tcn.param"
					class="java.util.List" />
				
			</output>
		</operation>
		
		<!-- Added for Defect ESPRD00412572 -->
         <operation name="recServiceAuthAppid">
			<portlet:action name="receive.ServiceAuthAppidAction"
				actionNameParameter="SERVICE_AUTH_TARGET_APPEALID"
				type="standard" caption="receive.ServiceAuthAppidAction" />
			<input>
				<portlet:param name="receServauthAppid"
					partname="ServiceAuthAppeal_Input"
					boundTo="request-attribute" caption="receive.ServauthAppid" />
				
			</input>
		</operation>
		<!-- End of  Defect ESPRD00412572  -->
		<!-- ESPRD00529011 starts -->
		<operation name="ClaimsInquiry">
			<portlet:action name="send.ClaimsInternalInquiryAction"
				actionNameParameter="action.param.send.ClaimsInternalInquiryAction"
				type="standard" caption="send.ClaimsInternalInquiryAction" />
			<output>
			<!-- Commented for the Defect ESPRD00731985 -->
				<!--<portlet:param name="invokeDetails"
					partname="ClaimInternalInquiryType_Output"	
					boundTo="request-attribute" caption="send.invokeDetails" />
			-->
			<!-- Added for the Defect ESPRD00731985 -->
			<portlet:param name="objInvokeDetails"
					class="com.acs.enterprise.mmis.operations.common.vo.ClaimInquirySearchResultsVO"
					partname="ObjClaimInternalInquiryType_Output"
					boundTo="request-attribute" caption="send.objInvokeDetails" />
			</output>
		</operation>
	   <!-- ESPRD00529011 ends -->
	   <!-- ESPRD00531190 starts -->
	   <operation name="SendInstiCorrInfo">
			<portlet:action name="sendInstiClaimCorrInfo"
				actionNameParameter="send.insti.claimCorr.info"
				caption="send.InstiCorr.info" type="standard" />
			<output>
					<portlet:param name="recieveVO"
					boundTo="request-attribute" partname="ServiceAuthInquiry_Output"
					caption="Send.Insti.Service.AuthID" />

			</output>
		</operation>
		<!-- ESPRD00531190 ends -->
		
		 <operation name="MSQReset">
			<portlet:action name="tplMSQReset"
                actionNameParameter="com.ibm.portal.propertybroker.action" 
				type="standard" caption="recieve" description="targetaction" />
			<input>
				<portlet:param name="MSQResetSearch"
					class="com.acs.enterprise.common.view.vo.CommonMemberDetailsVO"
					partname="MSQResetType_Input"
					boundTo="request-attribute" caption="MSQReset.caption" />
			</input>
		</operation>
	</binding>
</definitions>
